<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cruel_gerente</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">102030</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="gerentes/Gerentes.hbm.xml"/>
    <mapping resource="usuarios/Usuarios.hbm.xml"/>
    <mapping resource="nutricionistas/Nutricionistas.hbm.xml"/>
    <mapping resource="tipos_cliente/TiposCliente.hbm.xml"/>
    <mapping resource="atendentes/Atendentes.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
